<content title="{{title}}">
    <div class="row">
        <div class="col-md-3">
            <a href="#/ad" class="thumbnail" style="    font-size: 100px;">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail" style="    font-size: 100px;">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail" style="    font-size: 100px;">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>


</content>








